// FONTS 
@font-face {
    font-family: 'Anton';
    src: url('./fonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oxygen-mono';
    src: url('./fonts/OxygenMono-Regular.ttf') format('truetype');
}


// variables
$less-black: #040303;
$less-white: #efefef;
$hover: #ffffff73;
$border: 1px solid #efefef;

// globals
h2 {
    font-family: 'Anton', sans-serif;
}

button,
h1,
h3,
p {
    font-family: 'Oxygen Mono', monospace;
}

body {
    box-sizing: border-box;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    cursor: crosshair;
}

button {
    cursor: pointer;
}

// mixins
%centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%spaced {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%columnJustify {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

%text-btn {
    border: none;
    background-color: transparent;
    color: $less-white;
    padding-bottom: 0.2rem;
    font-size: 1.2rem;
}

//NAVBAR
.nav-btn-container {
    position: absolute;
    @extend %spaced;
    top: 3rem;
    right: 5rem;

    h3 {
        color: $less-white;
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    button {
        @extend %text-btn;

        &:hover {
            background-color: $hover;
        }
    }
}

// HERO SIDEBAR
.hero-sidebar {
    position: absolute;
    width: 40vw;

    h3 {
        color: $less-white;
        padding: 1.5rem 5rem;
        font-size: 2rem;
        margin: 0;
    }
}

.sidebar-title {
    border-bottom: $border;

    &:nth-child(2) {
        border-top: none;
    }

    &:nth-child(3) {
        border-top: none;
    }
}

.sidebar-item {
    display: flex;
    gap: 2rem;
    border-top: $border;
    margin-left: 5rem;

    &:nth-of-type(2) {
        border-top: none;
    }

    h3 {
        font-size: 1.5rem;
        padding: 2rem 3rem;
    }
}

// DESIGN DROPDOWNS
.sidebar-dropdown {
    padding: .5rem 0;
    height: 14rem;
    opacity: 1;
    transition: all 1s ease;


    p {
        color: $less-white;
        margin: 0;
        padding: .5rem 0;

        &:hover {
            cursor: pointer;
            background-color: $hover;
        }

    }
}


// HERO SECTION 
.hero-section {
    min-height: 100vh;
    background: $less-black;
    min-width: 100vw;
    z-index: -1;
    position: relative;
    display: flex;
    flex-direction: column;

    h2 {
        position: fixed;
        padding-top: 2rem;
        font-family: 'Anton', sans-serif;
        margin: auto;
        width: 100vw;
        font-size: 33vh;
        text-transform: uppercase;
        text-align: center;
        line-height: 31vh;
        background-image: url('assets/city-backdrop.jpg');
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 1rem;
        transition: color 3s, color 3s;
        z-index: -1;
    }
}

.asia-text {
    font-size: 35vh;
}

.text-container {
    z-index: 5;
    width: fit-content;
    justify-self: flex-end;
    align-self: flex-end;
    margin-right: 5rem;

    &:first-of-type {
        margin-top: auto;
    }

    &:last-of-type {
        margin-bottom: 5rem;
    }

    h1 {
        font-size: 6vh;
        letter-spacing: .4rem;
        color: $less-white;
        margin: 0;
        z-index: 5;
        justify-self: flex-end;
        text-align: left;
    }
}

.x-reverse {
    display: flex;
    gap: 3rem;
}

// scroll icon
.scroll-icon {
    @extend %centered;
    width: 80px;
    height: 80px;
    background-color: $hover;
    border-radius: 50%;
    position: absolute;
    bottom: 3rem;
    left: 48%;
    z-index: 15;

    svg {
        opacity: .7;
        margin-left: 0.1rem;
        margin-top: 0.2rem;
    }
}

// INFO BOXES
.info-boxes {
    background-color: $less-black;
    @extend %centered;
    gap: 6rem;
    padding: 12rem 0;
}

.info-box {
    display: grid;
    width: 80vw;
    height: 60dvh;
}

.right-box {
    grid-template-columns: 44% 1fr;
}

.left-box {
    grid-template-columns: 1fr 44%;
}

.info-title {
    @extend %columnJustify;
    border: $border;
    padding: 1rem;
    background-color: $less-black;
    z-index: 5;

    h3 {
        color: $less-white;
        font-size: 6rem;
        margin: 0;
    }
}

.left-info-title {
    text-align: right;
}

.info-paragraph {
    padding: 4rem 6rem 4rem 4rem;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.left-info-paragraph {
    padding: 4rem 4rem 4rem 6rem;

}


.info-content {
    background-color: $less-white;
    @extend %columnJustify;
    padding: 0 2rem;
    transition: all .5s ease-in;
    z-index: 1;

    div {
        border-bottom: 1px solid $less-black;
        width: fit-content;
        cursor: pointer;
    }

    p {
        font-weight: 800;
        font-size: 1.2rem;
        margin: 0;
        padding: 1rem 0 .5rem;

        &:hover {
            background-color: #ffffff;
        }
    }
}

.right-content {
    transform: translateX(100%);
}

.left-content {
    transform: translateX(-100%);
    align-items: flex-end;

    div p {
        text-align: right;
    }
}

.see-more-designs {
    font-family: 'Oxygen-mono';
    align-self: flex-end;
    padding-right: 5rem;
    color: $less-white;
    font-size: .9rem;
    width: 300px;
    margin-top: -4rem;

    button {
        @extend %text-btn;
        width: 100%;
        text-align: right;
        padding-top: 0.5rem;
    }
}

// ABOUT SECTION
.about {
    height: 80dvh;
}

// DYNAMIC CLASSES
.overlay-effect {
    color: rgba(0, 0, 0, .5) !important;
    transition: all 1.5s ease !important;
}

.subtle-overlay {
    transition: all 1.5s ease !important;
    opacity: .5 !important;

}

.hidden {
    height: 0px;
    opacity: 0;
    transition: all 1s ease-in;
    pointer-events: none;
}

.slide-in {
    opacity: 1;
    transform: translateX(0%);
    transition: transform .5s ease-in;
}

.black-white {
    background-color: $less-white;
    transition: background-color .5s ease-in;
}

.black-white-text {
    color: $less-black !important;
    transition: color .5s ease-in;
}