// FONTS 
@font-face {
    font-family: 'Anton';
    src: url('./fonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oxygen-mono';
    src: url('./fonts/OxygenMono-Regular.ttf') format('truetype');
}


// variables
$less-black: #040303;
$less-white: #efefef;
$hover: #ffffff73;
$border: 1px solid #efefef;

// globals
h2 {
    font-family: 'Anton', sans-serif;
}

button,
li,
h1,
h3,
p {
    font-family: 'Oxygen Mono', monospace;
}

body {
    box-sizing: border-box;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: $less-black;
    cursor: crosshair;
}

button {
    cursor: pointer;
}

// mixins
%centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%spaced {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%columnJustify {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

%text-btn {
    border: none;
    background-color: transparent;
    color: $less-white;
    padding-bottom: 0.2rem;
    font-size: 1.2rem;
}

// MEDIA QUERY 
$breakpoints: (
    small: 500px,
    medium: 700px,
    large: 900px,
    xlarge: 1150px
);

@mixin media($size) {
    @if map-has-key($breakpoints, $size) {
        @media (max-width: map-get($breakpoints, $size)) {
            @content;
        }
    }

    @else {
        @warn "No such breakpoint found";
    }
}

//NAVBAR
.nav-btn-container {
    position: absolute;
    @extend %spaced;
    top: 3rem;
    right: 5rem;

    h3 {
        color: $less-white;
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    button {
        @extend %text-btn;

        &:hover {
            background-color: $hover;
        }
    }

    @include media(medium) {
        display: none;

    }
}

// HERO SIDEBAR
.hero-sidebar {
    position: absolute;
    width: 40vw;

    h3 {
        color: $less-white;
        padding: 1.5rem 5rem;
        font-size: 2rem;
        margin: 0;
    }

    @include media(medium) {
        width: 70vw;
    }
}

.sidebar-title {
    border-bottom: $border;

    &:nth-child(2) {
        border-top: none;
    }

    &:nth-child(3) {
        border-top: none;
    }
}

.sidebar-item {
    display: flex;
    gap: 2rem;
    border-top: $border;
    margin-left: 5rem;

    &:nth-of-type(2) {
        border-top: none;
    }

    &:hover {
        h3 {
            letter-spacing: .2rem;
            text-transform: uppercase;
        }
    }

    h3 {
        font-size: 1.5rem;
        padding: 2rem 3rem;
    }
}

// DESIGN DROPDOWNS
.sidebar-dropdown {
    padding: .8rem 0;
    height: 14rem;
    opacity: 1;
    transition: all 1s ease;


    p {
        color: $less-white;
        margin: 0;
        padding: .5rem 0;

        &:hover {
            cursor: pointer;
            background-color: $hover;
        }
    }
}


// HERO SECTION 
.hero-section {
    min-height: 100vh;
    background: $less-black;
    min-width: 100vw;
    z-index: -1;
    position: relative;
    display: flex;
    flex-direction: column;

    h2 {
        position: fixed;
        padding-top: 2rem;
        font-family: 'Anton', sans-serif;
        margin: auto;
        width: 100vw;
        font-size: 33vh;
        text-transform: uppercase;
        text-align: center;
        line-height: 31vh;
        background-image: url('assets/cityDesk.webp');
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 1rem;
        transition: color 3s, color 3s;
        z-index: -1;

        @include media(large) {
            font-size: 2rem;
            line-height: 3rem;
            background-image: url('assets/cityTab.webp');
        }

        @include media(small) {
            background-image: url('assets/cityMob.webp');
        }
    }
}

.asia-text {
    font-size: 35vh;
}

.text-container {
    z-index: 5;
    width: fit-content;
    justify-self: flex-end;
    align-self: flex-end;
    margin-right: 5rem;

    &:first-of-type {
        margin-top: auto;
    }

    &:last-of-type {
        margin-bottom: 5rem;
    }

    h1 {
        font-size: 6vh;
        letter-spacing: .4rem;
        color: $less-white;
        margin: 0;
        z-index: 5;
        justify-self: flex-end;
        text-align: left;
    }

    @include media(small) {
        display: none;
    }
}

.x-reverse {
    display: flex;
    gap: 3rem;

    @include media(small) {
        display: none;
    }
}

// scroll icon
.scroll-icon {
    @extend %centered;
    width: 80px;
    height: 80px;
    background-color: $hover;
    border-radius: 50%;
    position: absolute;
    bottom: 3rem;
    left: 48%;
    z-index: 15;
    cursor: pointer;

    svg {
        opacity: .7;
        margin-left: 0.1rem;
        margin-top: 0.2rem;
    }

    @include media(large) {
        left: 3rem;
    }
}

// INFO BOXES
.info-boxes {
    background-color: $less-black;
    @extend %centered;
    gap: 6rem;
    padding: 12rem 0 2rem 0;
}

.info-box {
    display: grid;
    width: 80vw;
    height: 60dvh;

    @include media(large) {
        display: flex;
        flex-direction: column-reverse;
        width: 60%;
        padding-top: 6rem;
    }
}

.right-box {
    grid-template-columns: 44% 1fr;

    @include media(large) {
        grid-template-columns: 50% 1fr;
    }
}

.left-box {
    grid-template-columns: 1fr 44%;

    @include media(large) {
        grid-template-columns: 50% 1fr;
        flex-direction: column
    }
}

.info-title {
    @extend %columnJustify;
    border: $border;
    padding: 1rem;
    background-color: $less-black;
    z-index: 5;

    h3 {
        color: $less-white;
        font-size: 6rem;
        margin: 0;

        @include media(xlarge) {
            font-size: 4rem;
        }
    }
}

.left-info-title {
    text-align: right;
}

.info-paragraph {
    padding: 4rem 6rem 4rem 4rem;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.left-info-paragraph {
    padding: 4rem 4rem 4rem 6rem;

}

.info-content {
    background-color: $less-white;
    @extend %columnJustify;
    padding: 0 2rem;
    transition: all .5s ease-in;
    z-index: 1;

    div {
        border-bottom: 1px solid $less-black;
        width: fit-content;
        cursor: pointer;
    }

    p {
        font-weight: 800;
        font-size: 1.2rem;
        margin: 0;
        padding: 1rem 0 .5rem;

        &:hover {
            background-color: #ffffff;
        }
    }

    @include media(large) {
        padding-bottom: 2rem;
    }
}

.right-content {
    transform: translateX(100%);

    @include media(large) {
        transform: translateX(0%);
        transform: translateY(50%);
    }
}

.left-content {
    transform: translateX(-100%);
    align-items: flex-end;

    div p {
        text-align: right;
    }

    @include media(large) {
        transform: translateX(0%);
        transform: translateY(50%);
    }
}

.see-more-designs {
    font-family: 'Oxygen-mono';
    align-self: center;
    padding-right: 10vw;
    color: $less-white;
    font-size: .9rem;
    margin-top: 2rem;
}

.extra-info-btns {
    button {
        @extend %text-btn;
        font-size: 2rem;
        text-transform: uppercase;
    }
}

.info-dropdown {
    height: 0px;
    opacity: 0;

    p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.4rem;
    }
}

// ON ISINVIEW CHANGE
.btn-grid {
    display: grid;
    grid-template-columns: 50% 1fr;
}

// BUTTON ROW
.button-row {
    background-color: $less-black;
    display: flex;
    justify-content: space-around;

    button {
        @extend %text-btn;
        font-size: 2rem;

        &:hover {
            background-color: $hover;
        }
    }
}

// ABOUT SECTION
.about {
    height: 100dvh;
    overflow: hidden;
    background-color: $less-black;
    position: relative;
    @extend %columnJustify;
}

.about-heading {
    width: fit-content;
    flex-wrap: nowrap;

    h3 {
        color: $less-white;
        text-transform: uppercase;
        letter-spacing: 1.5rem;
        line-height: 18rem;
        font-family: 'Anton';
        font-size: 20rem;
        margin: 0;
    }
}

.selfie-container {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
}

.speech {
    width: fit-content;
    align-self: center;
    margin-top: -10rem;
    margin-right: 20rem;

    p {
        margin: 0;
        color: $less-white;
        font-size: 1.4rem;
        text-align: center;
    }

    span {
        font-size: 4rem;
    }
}

// ABOUT LISA
.about-lisa {
    background-color: $less-black;
    padding-bottom: 6rem;
    position: relative;
    display: flex;
    flex-direction: column;

    h3 {
        color: $less-white;
        text-transform: uppercase;
        letter-spacing: 1.5rem;
        line-height: 8rem;
        font-family: 'Anton';
        margin: 0;
        text-align: right;
        font-size: 20rem;

        @include media(large) {
            font-size: 15rem;
        }

        @include media(medium) {
            font-size: 10rem;
        }
    }

    img {
        max-height: 600px;
        position: absolute;
        top: -2rem;
        left: 4rem;

        @include media(xlarge) {
            bottom: 0;
            top: 0;
            left: 0;
        }

        @include media(large) {
            max-width: 50vw;
            top: 7rem;
        }

        @include media(medium) {
            max-width: 100vw;
            top: 12.5rem;
        }
    }
}

.opacity-paragraph {
    width: 45vw;
    margin-left: auto;
    padding-right: 7vw;
    text-align: justify;
    margin-top: 4rem;

    span {
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: $less-white;
        opacity: .5;
    }

    @include media(xlarge) {
        padding-right: 4vw;
        width: 40vw;
    }

    @include media(medium) {
        opacity: 0 !important;
    }
}

.lisa-speech {
    width: fit-content;
    align-self: flex-end;
    margin: 8rem 20vw 0 0;

    p {
        margin: 0;
        color: $less-white;
        font-size: 1.4rem;
        text-align: center;
    }

    @include media(medium) {
        margin-top: 2rem;
    }
}

.together-text {
    position: absolute;
    bottom: 4rem;
    right: 1rem;
    margin: 0;
    width: fit-content;
    pointer-events: none;
}

// CREATE 
.create {
    background-color: $less-white;
    overflow: hidden;
}

.stunning-text {
    display: 'flex';
    white-space: nowrap;

    h2 {
        color: $less-black;
        text-transform: uppercase;
        letter-spacing: .8rem;
        line-height: 10rem;
        font-family: 'Anton';
        margin: 0;
        text-align: right;
        font-size: 10rem;
    }
}

// PROJECTS
.projects {
    background-color: $less-black;
    padding: 6rem 6rem 0rem 6rem;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;

    @include media(xlarge) {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }
}

.project-box {
    height: 40dvh;
    width: 35vw;
    border: $border;
    position: relative;
    padding: 2rem;

    @include media(xlarge) {
        width: 65vw;
    }

    h2 {
        font-family: 'Oxygen Mono', monospace;
        color: $less-white;
        font-size: 4rem;
        margin: 0;
    }

    img {
        position: absolute;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        perspective-origin: 100% 100%;
        transform-origin: 100% 100%;
        transform-style: preserve-3d;
        opacity: 0;
        animation: opacity 0.2s ease-in-out forwards;
        animation-delay: 0.1s;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8);
        cursor: pointer;

        // Normal animation delays
        &:nth-of-type(1) {
            animation-delay: .1s;
        }

        &:nth-of-type(2) {
            animation-delay: .2s;
        }

        &:nth-of-type(3) {
            animation-delay: .3s;
        }

        &:nth-of-type(4) {
            animation-delay: .4s;
            box-shadow: none;
        }

        // Animation delays for .animate-out
        &.animate-out {
            &:nth-of-type(1) {
                animation-delay: .4s;
            }

            &:nth-of-type(2) {
                animation-delay: .3s;
            }

            &:nth-of-type(3) {
                animation-delay: .2s;
            }

            &:nth-of-type(4) {
                animation-delay: .1s;
                box-shadow: none;
            }
        }
    }


    @keyframes opacity {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes reverseOpacity {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes slideRight {
        0% {
            transform: translateX(90%);
            opacity: 0
        }

        100% {
            transform: translateX(0%);
            opacity: 1
        }
    }

    @keyframes slideLeft {
        0% {
            transform: translateX(-90%);
            opacity: 0
        }

        100% {
            transform: translateX(0%);
            opacity: 1
        }
    }

    .slide-left {
        animation: slideLeft 1s ease forwards;
    }

    .slide-right {
        animation: slideRight 1s ease forwards;
    }

    img:first-of-type {
        top: -2rem;
        transform: translate3d(10px, 10px, 10px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-3deg) skew(0deg, 0deg);
    }

    img:nth-of-type(2) {
        top: 0rem;
        transform: translate3d(-20px, -20px, -20px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(3deg) skew(0deg, 0deg);
        // animation-delay: .2s;

    }

    img:nth-of-type(3) {
        top: 4rem;
        left: 8rem;
        transform: translate3d(20px, 20px, 20px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-5deg) skew(0deg, 0deg);
        // animation-delay: .3s;

    }

    img:nth-of-type(4) {
        top: 2rem;
        left: 8rem;
        transform: translate3d(20px, 20px, 20px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        // animation-delay: .4s;
    }

    .animate-out {
        animation: reverseOpacity 0.2s ease-in-out forwards;
        opacity: 1;
    }

    p {
        color: $less-white;
        text-align: justify;
        font-size: 1.2rem;
        line-height: 1.8rem;
        opacity: 0;
        animation: opacity 0.2s ease-in-out forwards;
        animation-delay: .5s;
    }
}

// PROJECT MOBILE SETUP
.project-info-box {
    border: $border;
    padding: 1rem;
    @extend %columnJustify;

    h2 {
        font-family: 'Oxygen Mono', monospace;
        color: $less-white;
        font-size: 2rem;
        margin: 0;
    }

    p {
        color: $less-white;
        line-height: 1.3rem;
    }

    button {
        @extend %text-btn;
        margin-left: auto;
        align-self: flex-end;
    }
}

// TESTIMONIALS
.testimonials {
    background-color: $less-black;
    padding: 12rem 6rem;

    @include media(xlarge) {
        padding: 10rem 1rem;
    }
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 33.3%);
    gap: 1.4rem;
    height: 80vh;
    width: 80vw;

    @include media(xlarge) {
        width: 90vw;
    }
}

.grid-section {
    border: $border;
    padding: 1rem 2rem;
    @extend %columnJustify;

    blockquote {
        font-family: 'Oxygen Mono', monospace;
        margin: 0;
        text-align: justify;
    }

    h4 {
        font-family: 'Anton', sans-serif;
        font-size: 1.4rem;
        margin: 0;
        padding-bottom: 1rem;
    }

    button {
        @extend %text-btn;
        display: flex;
        align-items: center;
        border: 1px solid $less-black;
        padding: 1rem 2rem 1.2rem 2rem;
        gap: 0.5rem;
        color: $less-black;
    }
}

.grid1 {
    grid-row: span 2;
}

.grid3 {
    grid-column: span 2;
}

.grid4 {
    grid-column: span 2;
    align-items: center;

    h3 {
        font-size: 2rem;
    }
}

.grid5 {
    grid-row: span 2;
}

.grid6 {
    grid-column: span 2;
}

// CONTACT FORM
.contact-form {
    background-color: $less-black;
    @extend %columnJustify;
    align-items: center;

    h2 {
        font-family: 'Anton', 'sans-serif';
        color: $less-white;
        margin: 0;
        font-size: 12rem;
        letter-spacing: 1.5rem;

    }
}

.form-grid {
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: 6rem 0;
}

.contact-information {
    padding: 0 2rem 0rem 6rem;

    h1 {
        color: $less-white;
        font-size: 1.8rem;
        margin: 0;
        padding-right: 4rem;
    }

    p {
        color: $less-white;
        text-align: justify;
        padding: 0 2rem;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}

form {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;

    div {
        display: grid;
        grid-template-columns: 18% 1fr;
        padding-bottom: 1rem;
    }

    label {
        font-family: 'Oxygen Mono', monospace;
        color: $less-white;
    }

    input {
        padding: 0.2rem;
        width: 70%;
    }

    textarea {
        width: 80%;
        resize: vertical;
        min-height: 100px;
        padding: 10px;
        box-sizing: border-box;
    }

    button {
        background-color: transparent;
        border: $border;
        color: $less-white;
        padding: .5rem 2rem;
        margin-top: 2rem;
        // margin-left: auto;
        align-self: center;
    }
}

// FOOTER {
.footer-nav {
    background-color: $less-black;

    ul {
        color: $less-white;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding: 4rem 0 2rem 0;
        list-style-type: none;
    }

    li:hover {
        background-color: $hover;
    }
}

.copyright {
    background-color: $less-black;

    p {
        color: $less-white;
        margin: 0;
        text-align: center;
        padding-bottom: 1rem;
    }
}

// DYNAMIC CLASSES
.overlay-effect {
    color: rgba(0, 0, 0, .5) !important;
    transition: all 1.5s ease !important;
}

.subtle-overlay {
    transition: all 1.5s ease !important;
    opacity: .5 !important;

}

.hover-overlay {
    background-color: $hover !important;
}

.hover-bright {
    background-color: #ffffff;
}

.resize {
    height: auto;
    opacity: 1;
    margin-bottom: .2rem;
    pointer-events: none;
}

.hidden {
    height: 0px;
    opacity: 0;
    transition: all 1s ease-in;
    pointer-events: none;
}

.slide-in {
    opacity: 1;
    transform: translateX(0%);
    transition: transform .5s ease-in;
}

.black-white {
    background-color: $less-white;
    transition: background-color .5s ease-in;
}

.white-black {
    background-color: $less-black !important;
    transition: background-color .5s ease-in;
}

.black-white-text {
    color: $less-black !important;
    transition: color .5s ease-in;
}

.white-black-text {
    color: $less-white !important;
    transition: color .5s ease-in;
}

.off-left {
    transform: translateX(-100%);
}

.off-right {
    transform: translateX(100%);
}

.rotate {
    transform: rotate(90deg);
    transform-origin: left bottom;
    transition: all 3s ease;
    animation: opacityChange;
    animation-delay: 5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin: 0;
}

@keyframes opacityChange {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.reverse-rotate {
    display: inline-block;
    transform: rotate(-90deg);
    transition: all 3s ease;
    letter-spacing: 4rem;
    flex-wrap: nowrap;
    margin: 0;
}